@import '../../sass/index.scss';

.topic-selection-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	.content {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: max(5vw, 2rem);

		.title {
			margin-bottom: 4vw;
			color: $text;
			text-align: center;
			font-size: max(3vw, 1.5rem);
			font-weight: bold;
		}

		.description {
			margin-bottom: 4vw;
			font-size: max(1.5vw, 0.8rem);
			color: $text;
			text-align: center;

			@media screen and (max-width: 450px) {
				text-align: left;
			}
		}

		.topic-list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			width: 75%;
			gap: 1vw;

			@media screen and (max-width: 600px) {
				justify-content: flex-start;
				width: 100%;
				flex-direction: column;
			}
		}

		.input-container {
			max-width: max(40vw, 20rem);

			@media screen and (max-width: 430px) {
				max-width: 100%;
			}
		}
	}
}
