// Colors
$black: #000;
$white: #f1f7ff;
$main-blue: #3c3ce7;
$light-blue: #91c4f2;
$grey-blue: #55678b;

$text: #171736;

$bg-color: #f1f7ff;	
$bg-gradient: linear-gradient(180deg, #161616 0%, #323232 100%);

$box-shadow: #00000080 0px 2px 4px 0px;

$default-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

// Timing
$animation-timing: 0.25s;
