@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap';

html,
body,
#root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background-color: white;
	color: $white;
}

body {
	height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Sora', 'Poppins', sans-serif !important;
	scrollbar-width: auto;
	scrollbar-color: #292929 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #000000;
}

*::-webkit-scrollbar-thumb {
	background-color: #292929;
	border-radius: 10px;
	border: 0px solid #ffffff;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
