@import '../../sass/index.scss';

.carrer-prompt-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	.content {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: max(5vw, 2rem);

		@media screen and (max-width: 430px) {
			align-items: flex-start;
		}

		.title {
			margin-bottom: 4vw;
			color: $text;
			text-align: center;
			font-size: max(3vw, 1.5rem);
			font-weight: bold;

			@media screen and (max-width: 430px) {
				text-align: left;
			}
		}

		.description {
			margin-bottom: 4vw;
			font-size: max(1.5vw, .8rem);
			color: $text;
			text-align: center;

			@media screen and (max-width: 430px) {
				text-align: left;
			}
		}

		.input-container {
			max-width: max(40vw, 20rem);

			@media screen and (max-width: 430px) {
				max-width: 100%;
			}
		}
	}
}
