@import '../../sass/index.scss';

.carrer-prompt-container {
	width: 100%;
	display: flex;
	height: 100%;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	
	.content {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
		padding: max(5vw, 2rem);

		gap: 2vh;

		.title {
			margin-top: 5vh;

			font-family: 'sora';
			font-style: normal;
			font-weight: 600;
			font-size: 36px;
			line-height: 48px;
	
			color: #000000;
			@media screen and (max-width: 500px) {
				align-self: flex-start;
				text-align: left;
			}
		}

		.description {
			margin-bottom: 1vw;
			font-size: max(1.5vw, .8rem);
			color: $text;
			text-align: center;
			font-size: 16px;
			line-height: 24px;

			@media screen and (max-width: 500px) {
				text-align: left;
				align-self: flex-start;
			}
		}

		.input-container {
			max-width: max(40vw, 20rem);
			margin-bottom: 1.5vh;

			@media screen and (max-width: 500px) {
				max-width: 100%;
				margin-bottom: 1.5vh;
			}
		}

		.confirm-button {
			max-width: max(40vw, 20rem);
			margin-top: 35vh;
			Button{
				font-size: 1.5rem;
				@media screen and (min-width: 500px) {
					min-width: 20rem;
				}
			}

			@media screen and (max-width: 500px) {
				min-width: 100%;
			}
		}
	}
}
