@import '../../sass/index.scss';
@import '../../sass/_variables.scss';


.signUp-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
    margin-bottom: 5vh;

    img{
        margin-top: 15vh;
    }

	h1 {
        margin-top: 10vh;

		font-family: 'sora';
		font-style: normal;
		font-weight: 600;
		font-size: 36px !important;
		line-height: 48px;

		color: #000000;
	}
	.content {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: max(5vw, 2rem);

        gap: 2vh;

        img{
            align-self: center;
        }

		@media screen and (max-width: 400px) {
			align-items: flex-start;
		}

		.title {
			margin-bottom: 4vw;
			color: $text;
			text-align: center;
			font-size: max(3vw, 1.5rem);
			font-weight: bold;

			@media screen and (max-width: 400px) {
				text-align: left;
			}
		}

		.description {
			margin-bottom: 4vw;
			font-size: max(1.5vw, 0.8rem);
			color: $text;
			text-align: center;

			@media screen and (max-width: 400px) {
				text-align: left;
			}
		}

        Button{
            margin-top: 15vh;
            align-self: center;
	        font-size: 1.2rem;
        }

		.input-container {
			max-width: 40vw;

			@media screen and (max-width: 400px) {
				max-width: 100%;
			}
		}
	}
}
