@import '../../sass/index.scss';
.root {
	height: 100%;
}
.prompt-container {
	width: 100%;
    max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 6vw;
	padding: 0;

	.header {
		width: 100%;
		padding: 1rem;
		display: flex;
		align-items: center;

		.header-content {
			max-width: 1250px;
			display: flex;
		}
	}

	.content{
		width: 100%;
   		max-width: 1200px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 4rem;

		.title {
			margin-bottom: 2rem;
			color: #f36653;
			text-align: center;
			font-size: 56px;
			font-weight: bold;
		}
	}
}
