@import '../../sass/index.scss';

.topic-content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.description {
		margin-bottom: 1vw;
		font-size: max(1.5vw, .8rem);
		color: $text;
		text-align: center;
		font-size: 16px;
		line-height: 24px;

		@media screen and (max-width: 500px) {
			text-align: center;
			align-self: center;
		}
	}

	.topic-name {
		margin-top: 5vh;
		font-family: 'sora';
		font-style: normal;
		font-weight: 600;
		text-align: center;
		font-size: 36px;
		line-height: 48px;

		color: $text;
	}

	.topic-content {
		width: 100%;
		height: -webkit-fill-available;
		display: flex;
		flex-direction: column;

		.topic-text {
			color: $text;
			word-wrap: break-word;
			text-align: justify;
			padding: 1rem 3rem 1rem 3rem;

			h2 {
				color: $main-blue;
				font-size: 36px;
				margin-bottom: 0.5rem;
			}
			
		}

		.topic-url {
			color: $text;
			word-wrap: break-word;
			padding: 1rem 3rem 1rem 3rem;

			h2 {
				color: $main-blue;
				font-size: 36px;
				margin-bottom: 0.5rem;
			}
		}
	}
}