@import '../../sass/index.scss';

.topic-content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.topic-name {
		color: $text;
		font-size: 56px;
		font-weight: bold;
		margin-bottom: 2rem;
		text-align: center;
	}

	.topic-content {
		width: 100%;
		height: -webkit-fill-available;
		display: flex;
		flex-direction: column;

		.topic-text {
			color: $text;
			word-wrap: break-word;
			padding: 1rem 2rem 1rem 2rem;

			h2 {
				color: $main-blue;
				font-size: 36px;
				margin-bottom: 0.5rem;
			}
			
		}

		.topic-url {
			color: $text;
			word-wrap: break-word;
			padding: 1rem 2rem 1rem 2rem;

			h2 {
				color: $main-blue;
				font-size: 36px;
				margin-bottom: 0.5rem;
			}
		}
	}
}