@import '../../sass/index.scss';

.topic-content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.content {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
		gap: 2vh;

		.topic-name {
			margin-top: 1rem;
			color: $text;
			text-align: center;
			font-size: 36px;
			font-weight: bold;

			color: $text;
		}

		.topic-content {
			width: 100%;
			height: -webkit-fill-available;
			display: flex;
			flex-direction: column;

			.topic-text {
				color: $text;
				word-wrap: break-word;
				text-align: justify;
				padding: 1rem 3rem 1rem 3rem;

				h2 {
					color: $main-blue;
					font-size: 36px;
					margin-bottom: 0.5rem;
				}
			}

			.topic-url {
				color: $text;
				word-wrap: break-word;
				padding: 1rem 3rem 3rem 3rem;

				h2 {
					color: $main-blue;
					font-size: 36px;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}
